:root {
    --background: #090E1E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background);
    color: white;
}

/* text styles */

@font-face {
    font-family: "panchang-extrabold";
    src: url(fonts/panchang/Panchang-Extrabold.otf);
}

h1 {
    font-size: 128px;
}

/* text styles */


.hero {
    padding-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: visible;
}

.hero h1 {
    font-family: "panchang-extrabold";
    letter-spacing: 30px;
    overflow: visible;
}

.hero-model {
    margin-top: -300px;
    width: 100%;
  height: 1000px;
  display: block;

}

model-viewer::part(default-progress-bar) {
  display: none;
}

.main-headline {
    font-weight: 2000;
    perspective: 800px;
    overflow: visible;
    display: inline-block;
}