:root {
    --background: linear-gradient(180deg, #090E1E 0%, #190926 100%);
    --dark_purple: #2f1743;
    --lavender: rgb(144, 124, 178);
    --dark_blue: #090E1E;
    --white: #F0EEFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    position: relative;
    background: var(--background);
    height: 2000px;
}

/* scrollbar */

::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--white);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--lavender);
    border-radius: 10px;
    transition: all 200ms;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark_purple);
}

/* scrollbar */

/* text styles */

@font-face {
    font-family: "panchang-extrabold";
    src: url(fonts/panchang/Panchang-Extrabold.otf);
}

h1 {
    font-size: 128px;
}

/* text styles */

/* home page */

/* landing screen */

.bg-img {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0.2;
    background-image: url(imgs/potential-bg.svg);
    background-size: cover;
    background-position: center;
}

.hero {
    position: sticky;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    padding-top: 60px;
    display: flex;
    align-items: center;    
    flex-direction: column;
    overflow: hidden;
}

.hero-bg-img {
    background-image: url(imgs/hero-bg-img.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

.hero h1 {
    font-family: "panchang-extrabold";
    letter-spacing: 30px;
    overflow: visible;
    color: var(--white);
}

.hero-model {
    width: 100%;
    height: calc(100vh - 100px);
    flex-grow: 1;
    display: block;
}

model-viewer::part(default-progress-bar) {
  display: none;
}

.main-headline {
    font-weight: 2000;
    perspective: 800px;
    overflow: visible;
    display: inline-block;
}

/* landing screen */

/* header */

header {
    position: sticky;
    top: 0;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: var(--dark_blue);
    border-bottom: 1px solid var(--white);
}

header img {
    width: 48px;
    height: 48px;
}

/* header */


/* hero section */

/* hero section */

/* home page */
