:root {
    --background: linear-gradient(180deg, #090E1E 0%, #190926 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background);
    color: white;
    height: 2000px;
}

/* text styles */

@font-face {
    font-family: "panchang-extrabold";
    src: url(fonts/panchang/Panchang-Extrabold.otf);
}

h1 {
    font-size: 128px;
}

/* text styles */

.bg-img {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0.2;
    background-image: url(imgs/potential-bg.svg);
    background-size: cover;
    background-position: center;
}

.hero {
    width: 100%;
    height: 100vh;
    padding-top: 60px;
    display: flex;
    align-items: center;    
    flex-direction: column;
    overflow: visible;
}

.hero-bg-img {
    background-image: url(imgs/hero-bg-img.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

.hero h1 {
    font-family: "panchang-extrabold";
    letter-spacing: 30px;
    overflow: visible;
}

.hero-model {
    width: 100%;
    height: calc(100vh - 100px);
    flex-grow: 1;
    display: block;
}

model-viewer::part(default-progress-bar) {
  display: none;
}

.main-headline {
    font-weight: 2000;
    perspective: 800px;
    overflow: visible;
    display: inline-block;
}